v4/data/schema/gateway_response_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://xml.appriss.com/gateway" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://xml.appriss.com/gateway" elementFormDefault="qualified">
  <xs:include schemaLocation="constrained_base_types.xsd"/>
  <xs:include schemaLocation="gateway_request_types.xsd"/>
  <!-- *****************************************************************************************
  This document contains all of the response types for gateway to construct the data exchange 
  and metadata documents.  This requires the import of either the constrained_base_types or 
  the unconstrained_base_types.  The difference is the unconstrained types do less checking
  of the values included in the elements.  The more constrained schema provides a better
  platform from which to build an application.  Gateway will perform any needed translations
  of values to make the document validate against the more constrained types Schema. 
  Any values that was translated will have the initial untranslated value copied into the OriginalValue
  attribute field when possible.


  ABOUT nillable="true" elements:

  PMP Gateway gets its data from many sources in real time. Some of which have less constrained schemas.
  It could well be possible to get get a structure or value which cannot be translated into the 
  constrained value required by the gateway schema. In these cases a nil is provided with the 
  source value if present and a reason for the nil value.  Typical reasons can include that the value 
  could not be translated, the element in the source wasn't present.  In any case it will include
  a short string that presents the reason in the nil_reason attribute if there is an xml nil value
  as well as whatever the source value was or a blank string in the source value if it simply was
  not present.


 ********************************************************************************************* -->

    <xs:complexType name="GatewayResponseType">
      <xs:annotation>
        <xs:documentation>Root element for a Gateway Response.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="RequestID" type="xs:positiveInteger" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The id assigned to the request sent.  This is for reference. This will be present unless it was an Error only response.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:choice>
          <xs:element ref="Error">
            <xs:annotation>
              <xs:documentation>If there is an error where the requests could not be performed then the the only response will be this node.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Response" type="ResponseType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Response for each PMP with NoData, Prescriptions, Error, Disallowed nodes describing the type of response. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponseData" type="ResponseDataURLType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Response post url for the Response(s) in an async call. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
        <xs:element name="Disclaimer" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>A legal Disclaimer for display in reports.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <!-- *****************************************************************************************

      Related to the Response Type

    ******************************************************************************************** -->
  <xs:group name="MessageGroup">
    <xs:sequence>
      <xs:element name="Message" type="xs:string">
        <xs:annotation>
          <xs:documentation>This will be a message that will be safe to show to an end user. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Details" minOccurs="0" maxOccurs="unbounded" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            This will be a message that should NOT be shown to your users. It could contain more information.
            This is information that could interest developers. 
            This data will be wrapped in a CDATA tag.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Source" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The source of the error. A request over gateway traverses many systems. This indicates where the error occured.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="PMP"/>
            <xs:enumeration value="GATEWAY"/>
            <xs:enumeration value="INTERCONNECT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--************************************-->
  <xs:element name="Error">
    <xs:annotation>
      <xs:documentation>Either An Error or 1..n Response elements.
        If there is an error where none of the requests could not be performed then the the only response will be this node.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="MessageGroup"/>
    </xs:complexType>
  </xs:element>
  <!--************************************-->
  <xs:complexType name="ResponseType">
    <xs:annotation>
      <xs:documentation>The Main element that contains the response for a request to a specific Pmp system.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Pmp" type="USStateCodeType" />
        <xs:element name="NonPmp" type="ComputerFriendlyNameType" />
      </xs:choice>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>The next element will be the type of response.</xs:documentation>
        </xs:annotation>
        <xs:element name="Error">
          <xs:complexType>
            <xs:group ref="MessageGroup"></xs:group>
          </xs:complexType>
        </xs:element>
        <xs:element name="NoData">
          <xs:complexType>
            <xs:group ref="MessageGroup" minOccurs="0"></xs:group>
          </xs:complexType>
        </xs:element>
        <xs:element name="Disallowed">
          <xs:complexType>
            <xs:group ref="MessageGroup"></xs:group>
          </xs:complexType>
        </xs:element>
        <xs:element name="MultiPatient">
          <xs:complexType>
            <xs:group ref="MessageGroup"></xs:group>
          </xs:complexType>
        </xs:element>
        <xs:choice>
          <xs:element name="PrescriptionData" type="PrescriptionDataType">
            <xs:annotation>
              <xs:documentation>If there is prescription data it will be contained in this node.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="NIEMRawSchema">
            <xs:annotation>
              <xs:documentation>If a the Raw NIEM request schema waas sent in the request the Raw NIEM Response Schema will be sent in the response.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseDataURLType">
    <xs:annotation>
      <xs:documentation>The Main element that contains the url to get the response data from a specific Pmp system.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
    <xs:extension base="URLType">
      <xs:attributeGroup ref="ContentType"/>
    </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <!-- *****************************************************************************************

       Elements Related to the Response

    ********************************************************************************************* -->
 <!--************************************-->
 <xs:complexType name="PrescriptionDataType">
   <xs:annotation>
     <xs:documentation>
       Contains the  prescription information from the PMP
     </xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:element name="ReportInfo">
       <xs:complexType>
         <xs:sequence>
           <xs:element name="DocumentPublicationTime" type="TimeType" nillable="true" />
           <xs:element name="ExecutionDate" type="DateType" nillable="true" />
           <xs:element name="ExecutionTime" type="TimeType" nillable="true" />
           <xs:element name="DateRange" type="DateRangeType" nillable="true" />
           <xs:element name="PatientInformationUsedInSearch" type="RequestPatientUnconstrainedType" minOccurs="0" />
         </xs:sequence>
       </xs:complexType>
     </xs:element>
     <xs:element name="Prescription" type="PrescriptionType" minOccurs="0" maxOccurs="unbounded">
       <xs:annotation>
         <xs:documentation>This element will repeat with the prescription data. Cases where you may get no prescription data could come up if the PMP wanted to show which fields it searched on without returning any prescriptions. Typically you get a NoData node in those cases.</xs:documentation> 
       </xs:annotation>
     </xs:element>
   </xs:sequence>
 </xs:complexType>
 <!--************************************-->
 <xs:complexType name="PrescriptionType">
   <xs:choice>
     <xs:sequence>
       <xs:element name="PrescriptionNumber" type="LimitedStringType" nillable="true">
         <xs:annotation><xs:documentation>Serial number assigned to the prescription by the pharmacy.</xs:documentation></xs:annotation>
       </xs:element>
       <xs:element name="RefillNumber" type="IntegerType" nillable="true">
         <xs:annotation><xs:documentation>Number of the fill of the prescription. 0 indicates original dispensing.</xs:documentation></xs:annotation>
       </xs:element>
       <xs:element name="FilledDate" type="DateType" nillable="true">
         <xs:annotation><xs:documentation>Date Prescription was filled.</xs:documentation></xs:annotation>
       </xs:element>
       <xs:element name="WrittenDate" type="DateType" nillable="true">
         <xs:annotation><xs:documentation>Date the prescription was written (authorized).</xs:documentation></xs:annotation>
       </xs:element>
       <xs:element name="RefillsAuthorizedCount" type="IntegerType" nillable="true">
         <xs:annotation><xs:documentation>The number of refills authorized by the prescriber.</xs:documentation></xs:annotation>
       </xs:element>
       <xs:element name="DaysSupplyCount" type="NumericType" nillable="true">
         <xs:annotation><xs:documentation>Estimated number of days the medication will cover.</xs:documentation></xs:annotation>
       </xs:element>
       <xs:element name="DispensedQuantity" type="NumericType" nillable="true">
         <xs:annotation><xs:documentation>Number of metric units dispensed in metric decimal format.</xs:documentation></xs:annotation>
       </xs:element>
       <xs:element name="DrugDosageUnitsCode" type="DrugDosageUnitsCodeType" minOccurs="0" nillable="true">
         <xs:annotation><xs:documentation>Identifies the unit of measure for the DispensedQuantity</xs:documentation></xs:annotation>
       </xs:element>
       <xs:element name="MethodOfPaymentCode" type="MethodOfPaymentCodeType" minOccurs="0" nillable="true" />
       <xs:element name="TransmissionFormOfRxOriginCode" type="TransmissionFormOfRxOriginCodeType" minOccurs="0" nillable="true">
         <xs:annotation><xs:documentation>Code indicating how the pharmacy received the prescription, if required by the PMP.</xs:documentation></xs:annotation>
       </xs:element>
       <xs:element name="PartialFillIndicator" type="BooleanType" minOccurs="0" nillable="true">
         <xs:annotation><xs:documentation>To indicate whether the quantity in DispensedQuantity is a partial fill</xs:documentation></xs:annotation>
       </xs:element>
       <xs:element name="StateIssuedRxPad" minOccurs="0">
         <xs:annotation><xs:documentation>A State issued prescription Pad.</xs:documentation></xs:annotation>
         <xs:complexType>
           <xs:sequence>
             <xs:element name="SerialNumber" type="LimitedStringType">
                 <xs:annotation><xs:documentation>Number assigned to state issued serialized prescription blank.</xs:documentation></xs:annotation>
             </xs:element>
             <xs:element name="StateCode" type="USStateCodeType" nillable="true">
                 <xs:annotation><xs:documentation>The state that issued serialized prescription blank.</xs:documentation></xs:annotation>
             </xs:element>
           </xs:sequence>
         </xs:complexType>
       </xs:element>
       <xs:choice>
         <xs:element name="Drug" maxOccurs="1">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="ProductName" type="LimitedStringType" nillable="true" />
               <xs:element name="Strength" type="LimitedStringType" minOccurs="0" nillable="true" />
               <xs:element name="UnitOfMeasure" type="LimitedStringType" minOccurs="0" nillable="true" />
               <xs:element name="DEAClassSchedule" type="LimitedStringType" minOccurs="0" nillable="true" />
               <xs:element name="ProductIdentifier">
                 <xs:complexType>
                   <xs:sequence>
                     <xs:element name="Type" type="DrugProductIdentifierType" nillable="true" />
                     <xs:element name="Value" type="LimitedStringType" nillable="true" />
                     <xs:element name="Jurisdiction" type="LimitedStringType" minOccurs="0" nillable="true"/>
                   </xs:sequence>
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
           </xs:complexType>
         </xs:element>
         <xs:element name="CompoundDrugIngredient" minOccurs="1" maxOccurs="unbounded">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="SequenceNumber" type="IntegerType" minOccurs="0" nillable="true" />
               <xs:element name="ProductName" type="LimitedStringType" minOccurs="0" nillable="true" />
               <xs:element name="Strength" type="LimitedStringType" minOccurs="0"  nillable="true" />
               <xs:element name="DEAClassSchedule" type="LimitedStringType" minOccurs="0" nillable="true"  />
               <xs:element name="Quantity" type="LimitedStringType"/>
               <xs:element name="DrugDosageUnitsCode" type="DrugDosageUnitsCodeType" nillable="true"/>
               <xs:element name="ProductIdentifier">
                 <xs:complexType>
                   <xs:sequence>
                     <xs:element name="Type" type="CompoundDrugProductIdentifierType"/>
                     <xs:element name="Value" type="LimitedStringType"/>
                     <xs:element name="Jurisdiction" type="LimitedStringType" minOccurs="0"/>
                   </xs:sequence>
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
           </xs:complexType>
         </xs:element>
       </xs:choice>
       <xs:element name="Dispenser" type="DispenserType" nillable="true" />
       <xs:element name="Patient" type="PatientType" nillable="true" />
       <xs:element name="Prescriber" type="PrescriberType"  nillable="true" />
       <xs:element name="Pharmacist" type="PharmacistType" minOccurs="0" nillable="true" />
     </xs:sequence>
     <xs:sequence>
       <xs:element name="ValidationError" type="xs:string">
         <xs:annotation>
           <xs:documentation>This should rarely happen. If there was a problem during the conversion that resulted in a validation error.  
             The goal of this is to surface any conversion errors so that they can be easily recognized and fixed. 
             If there is a prescription with this node then it should be ignored.
           </xs:documentation>
         </xs:annotation>
       </xs:element>
     </xs:sequence>
   </xs:choice>
 </xs:complexType>
 <!--************************************-->

 <xs:complexType name="PrescriberType">
   <xs:annotation>
     <xs:documentation>Information on a Prescriber.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:group ref="PersonGroup" />
     <xs:group ref="IdentifiersGroup" />   
   </xs:sequence>
   <xs:attributeGroup ref="SourceValue"/>
 </xs:complexType>
 <!--************************************-->
 <xs:complexType name="PharmacistType">
   <xs:annotation>
     <xs:documentation>Information on a Pharmacist.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:group ref="PersonGroup" />
     <xs:group ref="IdentifiersGroup" />   
   </xs:sequence>
   <xs:attributeGroup ref="SourceValue"/>
 </xs:complexType>


 <!--************************************-->
 <xs:complexType name="DispenserType">
   <xs:annotation>
     <xs:documentation>Organization or Person who dispenses the prescription.  Typically a Pharmacy or Dispensing Physician. </xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:group ref="OrganizationGroup"/>
     <xs:group ref="IdentifiersGroup"/>
     <xs:element name="ChainSiteID" type="LimitedStringType" minOccurs="0" />
   </xs:sequence>
   <xs:attributeGroup ref="SourceValue"/>
 </xs:complexType>
 <!--************************************-->
 <xs:complexType name="PatientType">
   <xs:annotation>
     <xs:documentation>Contains Patient Information for a Response.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:group ref="PersonGroup" />
     <xs:element name="Identifier" type="IdentifierType" minOccurs="0" maxOccurs="5" />
     <xs:element name="VeterinaryPrescription" type="VeterinaryPrescriptionType" minOccurs="0"/>
     <xs:element name="PharmacyBenefitsMemberID" type="LimitedStringType" minOccurs="0" />
     <xs:element name="MedicalBenefitsMemeberID" type="LimitedStringType" minOccurs="0" />
   </xs:sequence>
   <xs:attributeGroup ref="SourceValue"/>
 </xs:complexType>
 <!--************************************-->
 <xs:group name="OrganizationGroup">
   <xs:annotation>
     <xs:documentation>Elements common to an Organization. </xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:element name="OrganizationName" type="LimitedStringType" minOccurs="0" nillable="true"/>
     <xs:element name="OrganizationDoingBusinessAsName" type="LimitedStringType" minOccurs="0" nillable="true" />
     <xs:element name="ContactName" type="LimitedStringType" minOccurs="0" nillable="true" />
     <xs:element name="Address" type="AddressType" minOccurs="0" nillable="true" />
     <xs:element name="Phone" type="USPhoneType" minOccurs="0" nillable="true"/>
     <xs:element name="OrganizationPrimaryContactInformation" type="LimitedStringType" minOccurs="0" nillable="true"/>
   </xs:sequence>
 </xs:group>
 <!--************************************-->
 <xs:group name="PersonGroup">
   <xs:annotation>
     <xs:documentation>Elements common to a Person.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:element name="Name" type="NameType" minOccurs="0" />
     <xs:element name="Birthdate" type="DateType" minOccurs="0" nillable="true"  />
     <xs:element name="SexCode" type="SexCodeType" minOccurs="0" />
     <xs:element name="Address" type="AddressType" minOccurs="0" />
     <xs:element name="Phone" type="USPhoneType" minOccurs="0" nillable="true" />
   </xs:sequence>
 </xs:group>

 <!--************************************-->
 <xs:complexType name="RequestPatientUnconstrainedType">
   <xs:annotation>
     <xs:documentation>Contains Patient Information that was actually used to do the search in the response.
       This is not currently produced by the PMP. But maybe in the future.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
     <xs:element name="Name">
       <xs:complexType>
         <xs:sequence>
           <xs:element name="First" type="LimitedStringType" minOccurs="0" />
           <xs:element name="Middle" type="LimitedStringType" minOccurs="0"/>
           <xs:element name="Last" type="LimitedStringType" minOccurs="0" />
         </xs:sequence>
       </xs:complexType>
     </xs:element>
     <xs:element name="Birthdate" type="DateType" minOccurs="0" nillable="true" />
     <xs:element name="SexCode" type="SexCodeType" minOccurs="0" nillable="true"/>
     <xs:sequence>
       <xs:element name="Address" type="AddressType" minOccurs="0"/>
       <xs:element name="Phone" type="USPhoneType"/>
     </xs:sequence>
     <xs:element name="SSN" type="SSNType" minOccurs="0"/>
     <xs:element name="DriversLicenseIdentifier" type="DriversLicenseIdentifierType" minOccurs="0" nillable="true" />
     <xs:element name="VeterinaryPrescription" type="VeterinaryPrescriptionType" minOccurs="0" />
     <xs:element name="PharmacyBenefitsMemberID" type="LimitedStringType" minOccurs="0"/>
     <xs:element name="MedicalBenefitsMemeberID" type="LimitedStringType" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>


 <!--************************************-->
 <xs:group name="IdentifiersGroup">
   <xs:annotation>
     <xs:documentation>
       Group of Identifiers for a Prescriber or Pharmacist. 
     </xs:documentation>
   </xs:annotation>
   <xs:choice>
     <xs:sequence>
       <xs:element name="DEANumber" type="DEANumberType" minOccurs="0" nillable="true" />
       <xs:element name="NPINumber" type="NPINumberType" minOccurs="0" nillable="true" />
       <xs:element name="NCPDPNumber" type="NCPDPNumberType" minOccurs="0" nillable="true" />
       <xs:element name="StateLicenseIdentifier" type="StateLicenseIdentifierType" minOccurs="0" />
     </xs:sequence>
   </xs:choice>
 </xs:group>
 <!--************************************-->
</xs:schema>

